.base {
  width: 5.25em;
  position: relative;

  display: flex;
  align-items: center;
  gap: 1em;

  pointer-events: all;
}

.logo {
  height: 2em;
  width: 2em;

  padding: 0;
  margin-left: 0;
  border-radius: 0;
  flex-shrink: 0;
}

.logo:active {
  box-shadow: none;
}

.logo > figure {
  height: 100%;
  width: 100%;
}

.logo svg {
  filter: drop-shadow(0 0 0.0625em var(--dark-color));
  transform-box: fill-box;
  transform-origin: center;
  transition:
    filter 0.35s ease-out,
    transform 0.35s ease-out;
}

.logo.current svg {
  filter: drop-shadow(0 0 0.1em var(--accent-color))
    drop-shadow(0 0 0.15em var(--dimmer-accent-color))
    drop-shadow(0 0 0.125em var(--dimmest-alt-accent-color));
}

.logo:hover svg {
  filter: drop-shadow(0 0 0.12em var(--accent-color))
    drop-shadow(0 0 0.2em var(--dimmer-accent-color))
    drop-shadow(0 0 0.25em var(--dimmest-alt-accent-color));
}

@media (prefers-reduced-motion: reduce) {
  .logo svg {
    transition-duration: 0.01ms;
  }
}

@media (max-width: 500px) {
  .base {
    width: fit-content;
  }
}
